@media screen and (max-width: 767px) {
  .backText {
    display: none;
  }
  .generalWrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .btnBack {
    margin-top: 21px;
    margin-left: 7px;
    background: var(--main-background-color);
    border: none;
  }
  .wrapper {
    margin-top: 16px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .currentPeriod {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--disable-text-color);
  }
  .dataWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .svg {
    width: 20px;
    height: 20px;
    background: var(--main-background-color);
    border: none;
  }
  .data {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
  }

  .balance {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--disable-text-color);
  }
  .balanceBtn {
    padding: 15px 29px;
    align-items: center;
    justify-content: center;
    width: 183px;
    height: 44px;
    border: 2px solid var(--main-background-color);
    background: var(--main-background-color);
    border-radius: 22px;

    font-weight: bold;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
  }
  .confirm {
    display: none;
  }
  .iconsArrowLeft {
    fill: var(--accent-color);
    width: 25px;
    height: 20px;
  }
  .arrows {
    stroke: var(--accent-color);
    height: 10px;
    width: 8px;
  }
}

@media screen and (min-width: 768px) {
  .generalWrapper {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 33px;
  }

  .dataWrapper {
    display: flex;
  }
  .wrapperBalance {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapperPeriod {
    display: flex;
    flex-direction: row-reverse;
  }
  .btnBack {
    margin-left: 38px;
    margin-right: 18px;
    background: var(--main-background-color);
    border: none;
  }
  .svg {
    background: var(--main-background-color);
    border: none;
  }
  .iconsArrowLeft {
    fill: var(--accent-color);
    width: 25px;
    height: 20px;
  }
  .arrows {
    stroke: var(--accent-color);
    height: 10px;
    width: 8px;
  }
  .backText {
    margin-right: 47px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: var(--disable-text-color);
  }
  .balance {
    margin-right: 21px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--disable-text-color);
  }
  .balanceBtn {
    margin-right: 80px;
    width: 125px;
    height: 44px;
    padding: 12px 20px;
    border: 2px solid var(--main-background-color);
    border-radius: 16px;

    font-weight: bold;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
    background: var(--main-background-color);
  }
  .currentPeriod {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--disable-text-color);
  }
  .wrapperData {
    align-items: center;
    justify-content: center;
  }
  .data {
    font-weight: bold;
    font-size: 13px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
  }
  .confirm {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .btnBack {
    margin-left: 98px;
    margin-right: 18px;
  }
  .backText {
    margin-right: 158px;
  }
  .balance {
    margin-right: 21px;
  }
  .balanceBtn {
    margin-right: 21px;
  }
  .confirm {
    margin-right: 225px;
    display: block;
    width: 125px;
    height: 44px;
    border: 2px solid var(--main-background-color);
    background: var(--main-background-color);
    border-radius: 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--disable-text-color);
  }
}
